* {
    box-sizing: border-box;
}

body {
    color: rgb(30, 33, 82);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

main {
    display: none;
    margin-right: auto;
    margin-left: auto;
}

header {
    margin-top: 20px;
    align-self: center;
    padding: 0;
}

h1, h2, h4, h5 {
    font-weight: normal;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 40px;
    font-family: 'Lora', serif;
}

h2 {
    margin-top: -8px;
    font-size: 22px;
    text-indent: 130px;

}

h3 {
    color: white;
    letter-spacing: 2px;
    font-family: 'Lora', serif;
    font-size: 36px;
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px gray;
    background-color: none;
}

h4 {
    font-family: 'Lora', serif;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 5px;
}

p {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

span {
    padding: 0;
    margin: 0;
}

section {
    text-align: center;
}

ul, li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    text-indent: 0;
}

a:link {
    text-decoration: none;
    color: rgb(30, 33, 82);
}

a:visited {
    color: rgb(30, 33, 82);
}

img.contact-link {
    width: 50px;
    margin: 10px 5px 5px 5px;
    padding-bottom: 0;
}

.contact-link:hover {
    width: 55px;
}

.contact-list li {
    display: block;
}

.contact-list h4 {
    margin: 0 0 30px 0;
    padding: 0;
}

img.screenshot {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

img.tech-logo {
    display: inline-block;
    height: 40px;
    margin: 10px;
}

.biopic {
    height: 100px;
    margin: 10px 0 0 0;
}

.project-description {
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px;
}

.project-description p {
    text-align: left;
    width: 100%;
}

a:focus {
    border: 1px solid rgb(0, 117, 126);
}

a.logo:focus {
    border: none;
}

.magenta {
    background-image: url("https://i.imgur.com/l8c6A3p.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: magenta;
}

.magenta:hover {
    background-image: url("https://i.imgur.com/2uC2n9H.png");
}

.yellow {
    background-image: url("https://i.imgur.com/VfTaJhj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellow;
}

.yellow:hover {
    background-image: url("https://i.imgur.com/yFQzCzg.png");
}

.cyan {
    background-image: url("https://i.imgur.com/LVrjBhm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cyan;
}

.cyan:hover {
    background-image: url("https://i.imgur.com/aNrV9DQ.png");
}

p > a:link {
    text-decoration: underline;
}

a {
    display: block;
}

.logo {
    font-family: 'Lora', serif;
    font-size: 32px;
    margin: 5px 0 0 10px;
    color: rgb(30, 33, 82);
    text-align: left;
}

.side-nav a {
    margin: 5px 10px;
    height: 160px;
    padding: 105px 0px 0px 10px;
}

.home-nav a {
    height: 80px;
    padding: 35px 5px 5px 5px;
    margin: 5px;
}

a.logo {
    height: 40px;
    padding: 5px 0 0 5px;
}

.top-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.two-top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.two-top a {
    height: 52px;
    padding: 5px;
}

.two-top li {
    width: 50%;
}


@media screen and (min-width: 50em) {

    
    .home-nav {
        display: none;
    }

    .top-nav {
        display: none;
    }

    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    main {
        margin: 70px 0px 0 0px;
        padding-right: 20px;
        padding-left: 20px;
        width: 75%;
        align-self: center;
    }

    .side-nav {
        width: 25%;
        padding-top: 10px;
        padding-bottom: 20px;
        border-right: 1px solid rgb(174, 175, 197);
    }

    header {
        width: 75%;
        padding-right: 60px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 27px;
    }

    h4 {
        font-size: 28px;
        margin: 0px;
        text-align: left;
    }

    p {
        margin-top: 30px;
    }

    .contact-list h4 {
        margin: 0;
        padding: 0;
    }

    a.short {
        height: 70px;
    }

    a.short h3 {
        padding-top: 20px;
    }

    .biopic {
        float: left;
        margin: 0px 15px 10px 10px;
    }

    .project-images-container {
        float: left;
        padding-right: 10px;
        padding-top: 10px;
    }

    img.contact-link {
        float: left;
        margin: 20px;
    }

    .contact-list > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    img.screenshot {
        padding-left: 5px;
    }


}

@media screen and (max-width: 49em) {

    .side-nav {
        display: none;
    }

    .home-nav {
        display: block;
    }

    h3 {
        font-size: 32px;
        background-color: none;
        padding: 0;
    }

}

@media screen and (max-width: 40em) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }
}





